<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="replace" name="Search Replace" schema="schema/pt.iscte.pidesco.replace.exsd"/>
   <extension
         id="search"
         name="Search"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.search.internal.SearchView"
            icon="find_obj.gif">
      </view>
   </extension>
   <extension
         id="fgfdh"
         point="pt.iscte.pidesco.outline.highlight">
      <highlight
            class="pt.iscte.pidesco.search.internal.SearchView">
      </highlight>
   </extension>
</plugin>
